* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 10px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center;
    }

    .box {
        background-color: blue;
    }
}


@media (max-width: 480px) {
    .container {
        flex-direction: column-reverse; 
    }

    .box {
        background-color: green; 
    }
}