*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    height: 100vh;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 350px;
    height: 500px;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


img{
    width: 70px;
    border-radius: 50%;

}


h1{
    color:white;
    font-size:24px;
}


.div1 p{
    color: #c3de64;
    font-size: 14px;
}


main > p {
    color: #cfcfcf;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}

.div-btn {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.div-btn button {
    width: 100%;
    padding: 14px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.div-btn button:hover {
    background-color: #c3de64;
    color: #141414;
}
