*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
            width: 300px;
            height: 300px;
            background: lightblue;
            display: flex;
            justify-content: center;
            align-items: center;    
        }


         .container {
            display: flex;
            gap: 10px; 
        }

        
        .box {
            width: 50px;
            height: 50px;
            background: darkblue;
        }


