*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: pink;
}

.container {
    display: flex;
    gap: 20px;
}

.container div {
    width: 100px;
    height: 60px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}





