*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#flex{
height: 100vh;
width: 220px;
background: #4285F4;
padding: 16px;
border-radius: 5px;
color: white;
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
gap:10px

}


main{
    
width: 220px;
background: red;
padding: 16px;
border-radius: 4px;
color: white;
font-family: Arial, sans-serif;
}