*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}


div{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 20px;
    transform: skew(20deg,0deg);
}